
 mat-form-field {
    margin-right: 40px;
}

.container-fluid {
    margin-top: 20px;
}

.example-card {
    max-width: 600px;
    margin: 10px auto;
    background: padding-box;
    /*background-color:azure;*/
}


.mat-card-content {
    margin: 20px;
}

  
  
  