<form [formGroup]="PasswordGroup">

    <mat-card>
        <mat-card-header>

            <mat-card-title>Update Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <input matInput placeholder="Current Password" formControlName="currPassword" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" formControlName="NewPasword" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm New Password</mat-label>

                    <input matInput placeholder="Confirm New Password" formControlName="confirmNewPwd" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm OTP</mat-label>
                    <input matInput placeholder="Confirm OTP" formControlName="confirmOTP" required>
                </mat-form-field>
            </div>

        </mat-card-content>

    </mat-card>

    <mat-action-row>
        <div>
            <button type="button" color="primary" mat-raised-button> Save</button>
        </div>
    </mat-action-row>


</form>