<form [formGroup]="PasswordGroup">

    <mat-card class="example-card">
        <mat-card-header class="mat-card-title-color ">

            <mat-card-title>Update Password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <!-- <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" placeholder="Current Password" formControlName="currPassword" required maxlength="15">
        <mat-error *ngIf="PasswordGroup.get('currPassword').touched && PasswordGroup.get('currPassword').hasError('required')">Password is required</mat-error>
       <mat-error *ngIf="PasswordGroup.get('currPassword').touched && PasswordGroup.get('currPassword').hasError('minlength')">Password isn't long enough, minimum of 8 characters</mat-error>
    </mat-form-field> -->

                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Current Password</mat-label>
                        <input matInput placeholder="Enter your Current Password" [type]="hide ? 'password' : 'text'" required maxlength="15">
                        <mat-error *ngIf="PasswordGroup.get('currPassword').touched && PasswordGroup.get('currPassword').hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="PasswordGroup.get('currPassword').touched && PasswordGroup.get('currPassword').hasError('minlength')">Password isn't long enough, minimum of 8 characters</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>


                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" placeholder="New Password" formControlName="NewPasword" required maxlength="15">
                        <mat-error *ngIf="PasswordGroup.get('NewPasword').touched && PasswordGroup.get('NewPasword').hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="PasswordGroup.get('NewPasword').touched && PasswordGroup.get('NewPasword').hasError('minlength')">Password isn't long enough, minimum of 8 characters</mat-error>
                    </mat-form-field>
                </div>


                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm New Password</mat-label>

                        <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmNewPwd" required maxlength="15">
                        <mat-error *ngIf="PasswordGroup.get('confirmNewPwd').touched && PasswordGroup.get('confirmNewPwd').hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="PasswordGroup.get('confirmNewPwd').touched && PasswordGroup.get('confirmNewPwd').hasError('minlength')">Password isn't long enough, minimum of 8 characters</mat-error>
                    </mat-form-field>
                </div>
                <div class="example-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm OTP</mat-label>
                        <input type="password" matInput placeholder="Confirm OTP" formControlName="confirmOTP" maxlength="4" required>

                    </mat-form-field>
                    </div>
                </div>


</mat-card-content>

    </mat-card>

    
        <div class="example-card">
            <button type="button" color="primary" mat-raised-button align="Right"> Update</button>
        </div>
    


</form>