
 mat-form-field {
    margin-right: 40px;
} 

/*.example-container {
    
    margin-right: 60px;
    margin-left: 60px;
  }*/


/*.example-container {
    display: flex;
    flex-direction: column;
}*/

.example-card {
    max-width: 600px;
    margin: 10px auto;
    background: padding-box;
    /*background-color:azure;*/
}

.mat-card-title-color {
    color: blue;
}
.mat-card-content {
    margin: 20px;
}

  
  
  