<!--<form [formGroup]="forexCurrenciesGroup">
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-custom-color">
                    <mat-card-content>
                        <div>
                            <div>
                                <label id="example-radio-group-label">Forex Currencies Supported : </label>
                                <input formControlName="options" [(ngModel)]="options" type="radio" [value]="true"
                                       [checked]="options" />
                                Upload Currencies using Sheet rate File

                                <input formControlName="options" [(ngModel)]="options" type="radio" [value]="false"
                                       [checked]="!options" (change)="reload($event)"/>
                                Choose Currencies Manually
                            </div>
                        </div>
                        <div *ngIf="options">
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFile">Upload file</label>
                                <input type="file" class="custom-file-input" id="customFile">
                            </div>
                        </div>
                        <div *ngIf="!options">
                            <mat-checkbox (checked)="isAllChecked()" >
                                <label>Select All </label>
                            </mat-checkbox>
                            <ul class="columns">
                                <li *ngFor="let country of currenciesList;let i = index">
                                    <mat-checkbox [(ngModel)]="country.currency">
                                        <label>{{country.currency}} </label>
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </mat-card-content>
                </div>
            </div>
        </div>
    </div>
</form>-->
<div class="container-fluid">
    <mat-card-content>
        <mat-radio-button name="options" [(ngModel)]="options" [value]="true" [checked]="currShow" (change)="onRadioChange($event)"> Upload Currencies using Sheet rate File</mat-radio-button>

        <mat-radio-button name="options" [(ngModel)]="options" [value]="false" (change)="onRadioChange($event)"> Choose Currencies Manually</mat-radio-button>

        <div *ngIf="currShow">
            <div class="custom-file">
                <label class="custom-file-label" for="customFile">Upload file</label>
                <input type="file" class="custom-file-input" id="customFile">
            </div>
        </div>
        <div *ngIf="!currShow">
            <mat-checkbox (checked)="isAllChecked()" (change)="checkAll($event)">
                <label>Select All </label>
            </mat-checkbox>
            <ul class="columns">
                <li *ngFor="let country of currenciesList;let i = index">
                    <mat-checkbox [(ngModel)]="country.state">
                        <label>{{country.currency}} </label>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </mat-card-content>
</div>