<form [formGroup]="forexCurrenciesGroup"> 

  
 <div class="col-md-12">
  <div class="container-fluid">
      <div class="row">
          <div class="panel panel-custom-color">
              
              <mat-card-content>

                  <div>
                      <label id="example-radio-group-label">Forex Currencies Supported</label>
                  </div>
                  <div>
                      <mat-radio-group aria-label="Select an option">
                          <mat-radio-button value="1">Upload Currencies using Sheet rate File
                          </mat-radio-button>
                          <mat-radio-button value="2">Choose Currencies Manually</mat-radio-button>
                      </mat-radio-group>
                  </div>
                  <div class="container-fluid">

                      <div class="custom-file">
                          <label class="custom-file-label" for="customFile">Upload file</label>
                          <input type="file" class="custom-file-input" id="customFile">

                      </div>                     

                  </div>

              </mat-card-content>

          </div>
      </div>
  </div>
</div>
</form>