mat-panel-title {
    flex-basis: 0;
  }
  mat-panel-description {
    flex-basis: 100%;
  }

.ulstyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.listyle {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    
}
/*.jumbotron>*
{
    width:100%;
    flex:1;
}*/


   



  
 
