mat-panel-title {
    flex-basis: 0;
  }
  mat-panel-description {
    flex-basis: 100%;
  }

.ulstyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

/*.listyle {
    display: inline-block;
    color: white;
    text-align: center;
    
    text-decoration-color :white;
}*/

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15px;
    
}

.white-icon {
    color: white;
}

/*.jumbotron>*
{
    width:100%;
    flex:1;
}*/



   



  
 
