mat-panel-title {
    flex-basis: 0;
}

mat-panel-description {
    flex-basis: 100%;
    font-size: 12px;
    padding-top: 5px;
}

.ulstyle {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    /*overflow: hidden;
   background-color: #fff;*/
}

.listyle {
    display: inline-block;
    color: white;
    text-decoration-color: white;
    font-size: 12px;
    padding-left: 55px;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5px;
}

.white-icon {
    color: white;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}




.example-container {
    height: 500px;
    margin: 10px;
}
