<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-logo" href="/Wallet/index.html"><img src="assets/images/logo.png" class="logo-big" /></a>
        </div>

        <div id="menu-button"><a href="#">Menu</a></div>
        <div id="menu" class="mainNavbar">
            <ul id="nav" class="dropdown">
                <li class="active">
                    <a href="#">Instiutions</a>
                    <ul class="submenu">
                        <li><a href="/Wallet/index.html">Corporate and Businesses</a></li>
                        <li><a href="#">Banks and Financial Insitutinos</a></li>
                        <li><a href="#">Government and Public sector</a></li>
                        <li><a href="#">Airlines and Transport companies</a></li>
                        <li><a href="#">Technology firms</a></li>
                        <li><a href="#">Retailers and Market places</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Payee Consumers</a>
                    <ul class="submenu">
                        <li><a href="/Wallet/index.html">Freelancers</a></li>
                        <li><a href="#">Consumers</a></li>
                        <li><a href="#">Suppliers</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Partners</a>
                    <ul class="submenu">
                        <li><a href="/Wallet/index.html">Banks</a></li>
                        <li><a href="#">Fintech</a></li>
                        <li><a href="#">Retailers</a></li>
                        <li><a href="#">Market places</a></li>
                        <li><a href="#">eCommerce providers</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Speak to Us</a></li>
            </ul>
        </div>
        <ul *ngIf="!loggedInflag" class="list-inline navbar-menu-right">
            <!--<li class="navbar-register-btn"><a [routerLink]="['/ClientReg']">OLD Register</a></li>-->
            <li class="navbar-register-btn"><a [routerLink]="['/Registration']">Register</a></li>
            <li class="navbar-login-btn"><a [routerLink]="['/Login']">Login</a></li>
          
            <li class="navbar-login-btn"><a [routerLink]="['/FileUpload']">File Upload</a></li>
            <!--<li class="navbar-login-btn"><a [routerLink]="['/UserReg']">User Reg</a></li>-->
            <!--<li class="navbar-login-btn"><a [routerLink]="['/BeneReg']">User Reg</a></li>-->
        </ul>
    </div>
</nav>
