 /* Accordian CSS */
 .example-headers-align .mat-expansion-panel-header-title,
 .example-headers-align .mat-expansion-panel-header-description {
   flex-basis: 0;
 }
 
 .example-headers-align .mat-expansion-panel-header-description {
   justify-content: space-between;
   align-items: center;
 }

 .my-custom-scrollbar {
  
   
  overflow-y: visible !important; 
}
 
.panel-body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;
}
 