<div class="panel-body">
    <form [formGroup]="bankInfoGroup">
        <!-- START ACCORDIAN-->

        <!-- <mat-accordion class="example-headers-align" multi=true  style="background: #f9f9f9!important;"> -->
        <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle> -->
        <!-- <mat-expansion-panel> -->
        <!-- <mat-expansion-panel-header>
                <mat-panel-title>
                    Bank Details
                </mat-panel-title>
                <mat-panel-description>
                     Enter Bank Details 
                     <mat-icon>account_balance_wallet</mat-icon> 
                </mat-panel-description>
            </mat-expansion-panel-header>    -->


        <div class="container">
            <div class="panel panel-custom-color">
                <div class="panel-heading"> Bank Details</div>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Bank Id</mat-label>
                                <input matInput placeholder="Bank Id" formControlName="bankId" maxlength="35" required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Bank Name</mat-label>
                                <input matInput placeholder="Bank Name" formControlName="bankName" maxlength="35"
                                    required>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Primary Contact Name</mat-label>
                                <input matInput placeholder="Primary Contact Name" formControlName="primaryContactName"
                                    maxlength="35">
                            </mat-form-field>

                        </div>


                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Primary Contact Work Email Id</mat-label>
                                <input matInput placeholder="Primary Contact Work Email Id"
                                    formControlName="primaryContactEmailId" maxlength="35" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Primary Contact Phone Number</mat-label>
                                <input matInput placeholder="Primary Contact Phone Number"
                                    formControlName="primaryContactPhoneNo" maxlength="35">
                            </mat-form-field>

                        </div>

                        <div class="col-md-4">


                        </div>

                    </div>
                </mat-card-content>
            </div>

        </div>



        <!-- <div class="container">
            <div class="row">

                <div class="panel panel-custom-color">
                    <div class="panel-heading"> Bank Details</div>

                    <mat-card-content>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Bank Id</mat-label>
                                <input matInput placeholder="Bank Id" formControlName="bankId" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Bank Name</mat-label>
                                <input matInput placeholder="Bank Name" formControlName="bankName" maxlength="35"
                                    required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Primary Contact Name</mat-label>
                                <input matInput placeholder="Primary Contact Name" formControlName="primaryContactName"
                                    maxlength="35">
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width:230px !important;">
                                <mat-label>Primary Contact Work Email Id</mat-label>
                                <input matInput placeholder="Primary Contact Work Email Id"
                                    formControlName="primaryContactEmailId" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width:230px !important;">
                                <mat-label>Primary Contact Phone Number</mat-label>
                                <input matInput placeholder="Primary Contact Phone Number"
                                    formControlName="primaryContactPhoneNo" maxlength="35">
                            </mat-form-field>
                        </div>
                    </mat-card-content>




                </div>
            </div>
        </div> -->











        <!-- <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row> -->
        <!-- </mat-expansion-panel> -->

        <!--SERVICES AND PREFERENCES-->
        <!-- <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle> -->
        <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Services and Prferences
        </mat-panel-title>
        <mat-panel-description>           
        </mat-panel-description>
    </mat-expansion-panel-header> -->



        <div class="container">


            <div class="panel panel-custom-color">
                <div class="panel-heading">Services and Preferences</div>
                <mat-card-content>
                    <div class="row">


                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Service Subscribed by Bank </mat-label>
                                <input matInput placeholder="Service Subscription"
                                    formControlName="bankServiceSubscription">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Service Activation Start date</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="Service Activation Start date"
                                    formControlName="servciceActivationStartDate">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Service Activation End date</mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="Service Activation End date"
                                    formControlName="serviceActivationEndDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>


                    </div>


                    <div class="row">

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:340px !important;">
                                <mat-label>Support Required for Bank User Management</mat-label>
                                <mat-select placeholder="Support Required for Bank User Management"
                                    formControlName="supportReqforBankUserMgmt">
                                    <mat-option *ngFor="let option of Options" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:340px !important;">
                                <mat-label>Support Required for Bank Client Management</mat-label>
                                <mat-select placeholder="Support Required for Client User Management"
                                    formControlName="supportReqforClientUserMgmt">
                                    <mat-option *ngFor="let option of Options" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:320px !important;">
                                <mat-label>Authorization -Manual Payment Activity</mat-label>
                                <mat-select placeholder="Authorization -Manual Payment Activity"
                                    formControlName="authManualPymtActivity">
                                    <mat-option *ngFor="let option of Options" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>





                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:320px !important;">
                                <mat-label>Authorization -Non Payment Activity</mat-label>
                                <mat-select placeholder="Authorization -Non Payment Activity"
                                    formControlName="authNonPymtActivity">
                                    <mat-option *ngFor="let option of Options" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>
                    </div>


                </mat-card-content>

            </div>

        </div>



        <!-- <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row> -->
        <!-- </mat-expansion-panel> -->

        <!-- <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Trading Address
                </mat-panel-title>
                <mat-panel-description> -->
        <!-- Enter Trading Address details
                    <mat-icon>my_location</mat-icon> -->
        <!-- </mat-panel-description>
            </mat-expansion-panel-header> -->

        <!-- <mat-card-content class="mat-card-content"> -->

        <div class="container">
            <div class="panel panel-custom-color">
                <div class="panel-heading"> Trading Address</div>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput placeholder="Address" formControlName="addressLine1" maxlength="35">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput placeholder="AddressLine 2" formControlName="addressLine2"
                                    maxlength="35">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country">
                                    <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                        {{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="state" maxlength="35">
                            </mat-form-field>

                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="cityName" maxlength="35">
                            </mat-form-field>

                        </div>

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="postCode" maxlength="8">
                            </mat-form-field>


                        </div>

                    </div>
                </mat-card-content>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <mat-checkbox formControlName = "chkboxAddress" color="primary" [checked]="IsChecked" (change)="showOptions($event)"> Please tick the Checkbox if Registerd Address is same as Trading Address.</mat-checkbox>
            </div>
        </div>

        <!-- REGISTERED ADDRESS-->

        <div class="container">
            <div class="panel panel-custom-color">
                <div class="panel-heading"> Registered Address</div>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>AddressLine 1</mat-label>
                                <input matInput placeholder="AddressLine 1" formControlName="regAddressLine1"
                                    maxlength="35">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>AddressLine 2</mat-label>
                                <input matInput placeholder="AddressLine 2" formControlName="regAddressLine2"
                                    maxlength="35">
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="regCountry">
                                    <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                        {{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="regState" maxlength="35">
                            </mat-form-field>

                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="regCity" maxlength="35">
                            </mat-form-field>

                        </div>

                        <div class="col-md-4">

                            <mat-form-field appearance="outline" style="width:250px !important;">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="regPostCode" maxlength="8">
                            </mat-form-field>


                        </div>

                    </div>
                </mat-card-content>
            </div>

        </div>







        <!-- <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">

                    <div class="panel panel-custom-color">
                        <div class="panel-heading">Trading Address</div>
                        <mat-card-content>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Address Line 1</mat-label>
                                    <input matInput placeholder="Address" formControlName="addressLine1" maxlength="35">
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Address Line 2</mat-label>
                                    <input matInput placeholder="AddressLine 2" formControlName="addressLine2"
                                        maxlength="35">
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country">
                                        <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                            {{topping}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </mat-card-content>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="state" maxlength="35">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="cityName" maxlength="35">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="postCode" maxlength="8">
                            </mat-form-field>


                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <!-- <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row> -->
        <!-- </mat-expansion-panel> -->

        <!-- <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Registered Address
                </mat-panel-title>
                <mat-panel-description> -->
        <!-- Enter Registered Address details
                    <mat-icon>my_location</mat-icon> -->
        <!-- </mat-panel-description>
            </mat-expansion-panel-header> -->


        <!-- <mat-card-content class="mat-card-content"> -->
        <!-- <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">

                    <div class="panel panel-custom-color">
                        <div class="panel-heading">Registered Address</div>
                        <mat-card-content>

                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>AddressLine 1</mat-label>
                                    <input matInput placeholder="AddressLine 1" formControlName="regAddressLine1"
                                        maxlength="35">
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>AddressLine 2</mat-label>
                                    <input matInput placeholder="AddressLine 2" formControlName="regAddressLine2"
                                        maxlength="35">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="regCountry">
                                        <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                            {{topping}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="State" formControlName="regState" maxlength="35">
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Town/City</mat-label>
                                    <input matInput placeholder="Town/City" formControlName="regCity" maxlength="35">
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Post Code</mat-label>
                                    <input matInput placeholder="Post Code" formControlName="regPostCode" maxlength="8">
                                </mat-form-field>

                            </div>
                        </mat-card-content>

                    </div>
                </div>
            </div>
        </div> -->


        <!-- </mat-card-content> -->

        <!-- <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row> -->


        <!-- </mat-expansion-panel> -->



        <!-- </mat-accordion> -->

        <div>


            <!-- <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back </button> -->
            <button style='margin:16px' mat-raised-button color="primary" matStepperNext> Next</button>
        </div>


    </form>

</div>