<app-wallet-header></app-wallet-header>
<div id="home-carousel" class="owl-carousel owl-custom-arrow">
    <div class="item">
        <img src="assets/images/h-slide-1.jpg" />
    </div>
    <div class="item">
        <img src="assets/images/h-slide-2.jpg" />
    </div>
</div>

<div class="sectionPadded clearfix">
    <div class="homeBanner">
        <div class="img-container">
            <img src="assets/images/homeBanner.jpg" />
        </div>
        <div class="details">
            <h1>Pay almost anyone almost anywhere in the world</h1>
            <p>Whether you’re a small business, consultant or professional, getting paid is critical. With Wallet Manager, funds are transferred quickly from companies worldwide to your local bank account in INR at low cost.</p>
            <a href="" class="next-arrow-btn"><i class="ion ion-ios-arrow-thin-right"></i></a>
        </div>
    </div>
</div>
<h1 class="section-title">How it works</h1>
<div class="sectionPadded">
    <div class="container">
        <div class="workSteps">
            <div class="row">
                <div class="col-md-4">
                    <div class="stepBox">
                        <div class="stepNum">1</div>
                        <div class="img-container icn">
                            <img src="assets/images/steps-icn/step1.png" />
                        </div>
                        <div class="content">
                            Sign Up for Walletmanager
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stepBox">
                        <div class="stepNum">2</div>
                        <div class="img-container icn">
                            <img src="assets/images/steps-icn/step2.png" />
                        </div>
                        <div class="content">
                            Receive Payments from companies worldwide
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stepBox">
                        <div class="stepNum">3</div>
                        <div class="img-container icn">
                            <img src="assets/images/steps-icn/step3.png" />
                        </div>
                        <div class="content">
                            Your funds will be transferred to your local Indian bank account
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="section-title">Payment solutions for diverse markets</h1>
<div class="sectionPadded featureSection with-bg-grad">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-container inside-border" style="padding-top: 66%;">
                    <img src="assets/images/feature-img/img1.jpg" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-container icn">
                    <img src="assets/images/feature-img/icn1.png">
                </div>
                <h4 class="title">Online sellers</h4>
                <P class="sub-title">Ecommerce: sell global, live local</P>
                <p class="content">Walletmanager makes it easy for ecommerce marketplaces and online sellers to do business in a global environment.</p>
                <p class="text-right"><a href="#">Explore Now <i class="ion ion-ios-arrow-thin-right"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="sectionPadded featureSection">
    <div class="container">
        <div class="row">
            <div class="col-md-push-6 col-md-6">
                <div class="img-container inside-border" style="padding-top: 66%;">
                    <img src="assets/images/feature-img/img2.jpg" />
                </div>
            </div>
            <div class="col-md-pull-6 col-md-6">
                <div class="img-container icn">
                    <img src="assets/images/feature-img/icn2.png">
                </div>
                <h4 class="title">Freelance</h4>
                <P class="sub-title">Freelancing: work global, live local</P>
                <p class="content">Walletmanager makes it easy for freelancers and marketplaces to do business in a global environment.</p>
                <p class="text-right"><a href="#">Explore Now <i class="ion ion-ios-arrow-thin-right"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="sectionPadded featureSection with-bg-grad">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-6">
                <div class="img-container inside-border" style="padding-top: 66%;">
                    <img src="assets/images/feature-img/img3.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-md-6">
                <div class="img-container icn">
                    <img src="assets/images/feature-img/icn3.png">
                </div>
                <h4 class="title">Affiliate Marketing</h4>
                <P class="sub-title">Affiliates: market global, live local</P>
                <p class="content">Walletmanager makes it easy for affiliate marketers and ad networks to send and receive payments.</p>
                <p class="text-right"><a href="#">Explore Now <i class="ion ion-ios-arrow-thin-right"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="section-title">
    <h4 class="section-title-sm">Our Customers</h4>
    <h1 class="">What our customers say…</h1>
    <h4 class="section-title-sm">Over 2500 platforms trust us across India.</h4>
</div>
<section class="sectionPadded p-t-none">
    <div class="container-fluid">
        <div id="Testimonial" class="owl-carousel owl-custom-arrow">
            <div class="item">
                <div class="media TestimonialItem">
                    <div class="media-left">
                        <div class="img-container">
                            <img src="assets/images/client-pic.jpg" />
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="item-content">
                            <h3>Client Name</h3>
                            <h4>Co-founder &amp; CEO</h4>
                            <p class="fc-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media TestimonialItem">
                    <div class="media-left">
                        <div class="img-container">
                            <img src="assets/images/client-pic2.jpg" />
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="item-content">
                            <h3>Client Name</h3>
                            <h4>Co-founder &amp; CEO</h4>
                            <p class="fc-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media TestimonialItem">
                    <div class="media-left">
                        <div class="img-container">
                            <img src="assets/images/client-pic.jpg" />
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="item-content">
                            <h3>Client Name</h3>
                            <h4>Co-founder &amp; CEO</h4>
                            <p class="fc-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="media TestimonialItem">
                    <div class="media-left">
                        <div class="img-container">
                            <img src="assets/images/client-pic2.jpg" />
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="item-content">
                            <h3>Client Name</h3>
                            <h4>Co-founder &amp; CEO</h4>
                            <p class="fc-grey-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sectionPadded PeopleJoin">
    <div class="section-title"><h1 class="">Join us. Millions already have</h1></div>
    <div class="container">
        <ul class="list-inline PeopleJoinGroup">
            <li>
                <i class="fa fa-user icn"></i>
                <div class="num">4M</div>
                <p>USERS</p>
            </li>
            <li>
                <i class="fa fa-globe icn"></i>
                <div class="num">200+</div>
                <p>COUNTRIES</p>
            </li>
            <li>
                <i class="fa fa-money icn"></i>
                <div class="num">150+</div>
                <p>CURRENCIES</p>
            </li>
            <li>
                <i class="fa fa-twitter icn"></i>
                <div class="num">30K+</div>
                <p>TWITTER FOLLOWERS</p>
            </li>
            <li>
                <i class="fa fa-facebook icn"></i>
                <div class="num">800K+</div>
                <p>FACEBOOK LIKES</p>
            </li>
        </ul>
    </div>
</section>
<section class="sectionPadded getInTouch">
    <div class="section-title"><h1 class="">Go global, pay local. Get started today</h1></div>
    <div class="container text-center btn-lg">
        <a href="#" class="btn getInTouchBtn">Get in touch</a>
    </div>
</section>
<app-wallet-footer></app-wallet-footer>