 mat-form-field {
    margin-right: 40px;
}

.example-container {
    display: flex;
    flex-direction: column;
    
}



.container {
    margin-top: 20px;
    
}

.mat-card-content{
    margin:20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}





