<!--<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="formContent">-->
<!--<div style="background: #f9f9f9";>-->
<form [formGroup]="CompInfoGroup">

    <mat-tab-group [backgroundColor]="'primary'">
        <mat-tab label="Company Info">
            <ng-template matTabContent>
                <!-- ADD COMPANY INFO HERE-->
                <mat-card class="example-card">
                    <mat-card-header class="mat-card-title-color ">
                        <!--<div mat-card-avatar class="example-header-image"></div>-->
                        <mat-card-title> Company Info</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <div>

                            <mat-form-field appearance="outline">
                                <mat-label>Company Name</mat-label>
                                <input matInput placeholder="Company Name" formControlName="compName" [readonly]="!editable" [value]="myRegCompInfo.compnameCtrl">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Trading Name</mat-label>
                                <input matInput placeholder="Trading Name" formControlName="tradingName">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Company Registration Number</mat-label>
                                <input matInput placeholder="Company Registration Number" formControlName="compRegnNo" [readonly]="!editable" [value]="myRegCompInfo.compregnCtrl">
                            </mat-form-field>

                        </div>

                        <div>

                            <mat-form-field appearance="outline">
                                <mat-label> Select Industry</mat-label>
                                <mat-select placeholder="Select Industry" formControlName="industry">
                                    <mat-option *ngFor="let option of Industries" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Your Account Id</mat-label>
                                <input matInput placeholder="Your Account Id" formControlName="yourAccountID" [readonly]="!editable" [value]="myRegCompInfo.yourAccountID">
                            </mat-form-field>


                        </div>
                    </mat-card-content>

                </mat-card>
            </ng-template>
        </mat-tab>
        <mat-tab label="Company Address">
            <ng-template matTabContent>

                <!-- TRADING ADDRESS-->
                <mat-card class="example-card">
                    <mat-card-header class="mat-card-title-color">
                        <mat-card-title> Trading Address</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Bldg#/Street(Or)Road Name/Number</mat-label>
                                <input matInput placeholder="Bldg#/Street(Or)Road Name/Number" formControlName="roadNo" maxlength="15" required>
                            </mat-form-field>
                        </div>

                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Address Line 1</mat-label>
                                <input matInput placeholder="Address" formControlName="addressLine1" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                    <mat-label>Address Line 2</mat-label>
                    <input matInput placeholder="AddressLine 2" formControlName="addressLine2" maxlength="35">
                </mat-form-field>
                        </div>

                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="cityName" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="state" maxlength="35">
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput placeholder="Country" formControlName="country" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="postCode" maxlength="8">
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>


                <div class="example-card">
                    <mat-checkbox align="left" color="primary"> Please tick the Checkbox if Registerd Address is same as Trading Address.</mat-checkbox>
                </div>

                <!-- Registered Address-->
                <mat-card class="example-card">
                    <mat-card-header class="mat-card-title-color">

                        <mat-card-title>Registered Address</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <div class="example-container">

                            <mat-form-field appearance="outline">
                                <mat-label>Bldg#/Street(Or)Road Name/Number</mat-label>
                                <input matInput placeholder="Bldg#/Street(Or)Road Name/Number" formControlName="regRoadNo" maxlength="15" required>
                            </mat-form-field>
                        </div>

                        <div class="example-container">

                            <mat-form-field appearance="outline">
                                <mat-label>AddressLine 1</mat-label>
                                <input matInput placeholder="Address" formControlName="regaddressLine1" maxlength="35" required> 
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                    <mat-label>AddressLine 2</mat-label>
                    <input matInput placeholder="AddressLine 2" formControlName="RegaddressLine2" maxlength="35">
                </mat-form-field>
                        </div>

                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="regCity" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="regState" maxlength="35">
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <input matInput placeholder="Country" formControlName="regCountry" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="regpostCode" maxlength="8">
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            </mat-tab>

                
               
        </mat-tab-group>
        </form>
    <!--</div>
            </div>
        </div>
    </div>-->

<!--</div>-->

