 mat-form-field {
    margin-right: 40px;
}

.container-fluid {
    margin-top: 20px;
    
}

.mat-card-content{
    margin:20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}





