
<div class="container">
   
    <div class="row">

        <div class="col-md-offset-4">
            <img src="assets/images/logo.png" />
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <h3 class="col-md-4">Login</h3>
                    <div class="panel-body">
                       
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="input-container">
                                <i class="fa fa-envelope icon"></i>
                                <input class="input-field" type="text" placeholder="Email" name="Email" maxlength="50">
                            </div>


                            <div class="input-container">
                                <i class="fa fa-key icon"></i>
                               
                                <input class="input-field" type="password" placeholder="Password" name="Password" maxlength="15">
                            </div>

                            <div>
                                <button type="submit" mat-raised-button>Login</button>
                            </div>

                            <div>
                                <a mat-raised-button  (click)="ForgotPasswordPage()">Forgot Password?</a>
                            </div>

                            <div>
                                <button type="button" mat-raised-button  (click)="RegisterInfo()"> New to Wallet Manager?  Signup</button>
                                
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>



