
<div class="container">
   
    <div class="row">

        <div class="col-md-offset-4">
            <img src="assets/images/logo.png" />
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <h3 class="col-md-4">Login</h3>
                    <div class="panel-body">                      
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(f)" ng-show="showSuccessAlert">
                            

                            <div class="form-group">
                                    
                                            <input class="input-field" type="email" placeholder="Email" formControlName="userName" maxlength="50" />
                                      <mat-error *ngIf="loginForm.get('userName').touched && loginForm.get('userName').hasError('required')">Email is required</mat-error>
                                      <mat-error *ngIf="loginForm.get('userName').touched && loginForm.get('userName').hasError('invalidEmail')">Invalid email address</mat-error>
                                  
                                  </div>

                                  <div class="form-group">
                               

                                        <input class="input-field" type="password" placeholder="Password" formControlName="Password" maxlength="15" />
                                        <mat-error *ngIf="loginForm.get('Password').touched && loginForm.get('Password').hasError('required')">Password is required</mat-error>                           
                                        <mat-error *ngIf="loginForm.get('Password').touched && loginForm.get('Password').hasError('minlength')">Password isn't long enough, minimum of 8 characters</mat-error>
                                    </div>
                             

                            <div class="form-group">
                                <button type="submit" mat-raised-button>Login</button>
                            </div>

                            <div class="form-group">
                                <a mat-raised-button (click)="ForgotPasswordPage()">Forgot Password?</a>
                            </div>

                            <div class="form-group">
                                <button type="button" mat-raised-button (click)="RegisterInfo()"> New to Wallet Manager?  Signup</button>

                            </div>
                            <div>
                                {{errorMessage}}
                            </div>

                            <div>

                                <mat-spinner style="margin:0 auto" *ngIf="resourcesLoaded"></mat-spinner>
                            </div>
                           
                           

                            
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>



