<!-- <form [formGroup]="countriesListGroup">


 <div class="col-md-12">
     <div class="container-fluid">
         <div class="row">
             <div class="panel panel-custom-color">
                 <div class="panel-heading"> Countries where Bank Supports to Send Payments</div>
                 <mat-card-content>
                     <div>
                         <mat-form-field style="width:800px !important;" >
                             <mat-label> Select Countries</mat-label>
                             <mat-select [formControl]="countries" multiple
                                 [panelClass]="applyPanelOverride2 ? 'panel-override-2' : 'panel-override'">
                                 <mat-option *ngFor="let country of countriesList" [value]="country">
                                     {{country}}</mat-option>
                             </mat-select>
                         </mat-form-field>
                     </div>
                 </mat-card-content>
             </div>
         </div>
     </div>
 </div>

  </form>  -->
<!--  <fieldset class="group">
     <legend>Countries where Bank Supports Sending Payments to</legend>

     <mat-accordion>
         <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>
               Asia
             </mat-panel-title>
             <mat-panel-description>
               Select Countries under Asia
             </mat-panel-description>
           </mat-expansion-panel-header>

     <ul class="checkbox">
       <li><input type="checkbox" id="cb1" value="pepperoni" /><label for="cb1">Albania</label></li>
       <li><input type="checkbox" id="cb2" value="sausage" /><label for="cb2">Algeria</label></li>
       <li><input type="checkbox" id="cb3" value="mushrooms" /><label for="cb3">Armenia</label></li>
       <li><input type="checkbox" id="cb4" value="onions" /><label for="cb4">Onions</label></li>
       <li><input type="checkbox" id="cb5" value="gpeppers" /><label for="cb5">Green Peppers</label></li>
       <li><input type="checkbox" id="cb6" value="xcheese" /><label for="cb6>">Extra Cheese</label></li>

       <li><input type="checkbox" id="cb1" value="pepperoni" /><label for="cb1">Albania</label></li>
       <li><input type="checkbox" id="cb2" value="sausage" /><label for="cb2">Algeria</label></li>
       <li><input type="checkbox" id="cb3" value="mushrooms" /><label for="cb3">Armenia</label></li>
       <li><input type="checkbox" id="cb4" value="onions" /><label for="cb4">Onions</label></li>
       <li><input type="checkbox" id="cb5" value="gpeppers" /><label for="cb5">Green Peppers</label></li>
       <li><input type="checkbox" id="cb6" value="xcheese" /><label for="cb6>">Extra Cheese</label></li>
     </ul>

     </mat-expansion-panel>

     <!-- Europe
     <mat-expansion-panel>
         <mat-expansion-panel-header>
           <mat-panel-title>
             Europe
           </mat-panel-title>
           <mat-panel-description>
             Select Countries under Europe
           </mat-panel-description>
         </mat-expansion-panel-header>

   <ul class="checkbox">
     <li><input type="checkbox" id="cb1" value="pepperoni" /><label for="cb1">Albania</label></li>
     <li><input type="checkbox" id="cb2" value="sausage" /><label for="cb2">Algeria</label></li>
     <li><input type="checkbox" id="cb3" value="mushrooms" /><label for="cb3">Armenia</label></li>
     <li><input type="checkbox" id="cb4" value="onions" /><label for="cb4">Onions</label></li>
     <li><input type="checkbox" id="cb5" value="gpeppers" /><label for="cb5">Green Peppers</label></li>
     <li><input type="checkbox" id="cb6" value="xcheese" /><label for="cb6>">Extra Cheese</label></li>

     <li><input type="checkbox" id="cb1" value="pepperoni" /><label for="cb1">Albania</label></li>
     <li><input type="checkbox" id="cb2" value="sausage" /><label for="cb2">Algeria</label></li>
     <li><input type="checkbox" id="cb3" value="mushrooms" /><label for="cb3">Armenia</label></li>
     <li><input type="checkbox" id="cb4" value="onions" /><label for="cb4">Onions</label></li>
     <li><input type="checkbox" id="cb5" value="gpeppers" /><label for="cb5">Green Peppers</label></li>
     <li><input type="checkbox" id="cb6" value="xcheese" /><label for="cb6>">Extra Cheese</label></li>
   </ul>

   </mat-expansion-panel>
     </mat-accordion>
     </fieldset> -->
<!--NEW WAY OF DOING-->
<!--<div class="page">
    <h1 id="head1">
      Using CSS3 Multi column layout (Vertical reading direction)
    </h1>
    <h1 id="head2">
      Using float (Horizontal reading direction)
    </h1>

  <ul class="columns">
    <li>
      <label>
        <input type="checkbox" />1 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />2 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />3 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />4 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />5 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />6 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />7 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />8 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />9 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />10 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />11 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />12 lorem ipsum
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" />13 lorem ipsum
      </label>
    </li>
  </ul>

  </div>-->

<legend>Countries where Bank Supports Sending Payments to</legend>
    <mat-accordion>
        <mat-expansion-panel (opened)="getCountryList('Asia')">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Asia
                </mat-panel-title>
                <mat-panel-description>
                    <mat-checkbox (checked)="isAllChecked()" (change)="checkAll($event)">
                        <label>Select All Countries under Asia </label>
                    </mat-checkbox>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="columns">
                <li  *ngFor="let country of countryByContFilter;let i = index">
                    <mat-checkbox [(ngModel)]="country.state" >
                        <label>{{country.name}} </label>
                    </mat-checkbox>
                </li>
            </ul>
            <button mat-raised-button class="mat-raised-button mat-primary" (click)="submit()">Save</button>
        <!-- </mat-expansion-panel>
        <mat-expansion-panel (opened)="getCountryList('Australia')"> 
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Australia
                </mat-panel-title>
                <mat-panel-description>
                    <mat-checkbox (checked)="isAllChecked()" (change)="checkAll($event)">
                        <label>Select All Countries under Australia </label>
                    </mat-checkbox>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="columns">
                <li *ngFor="let country of countryByContFilter;let i = index">
                    <mat-checkbox [(ngModel)]="country.state">
                        <label>{{country.name}} </label>
                    </mat-checkbox>
                </li>
            </ul>
            <button mat-raised-button class="mat-raised-button mat-primary" (click)="submit()">Save</button> -->
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="getCountryList('Africa')">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Africa
                </mat-panel-title>
                <mat-panel-description>
                    <mat-checkbox (checked)="isAllChecked()" (change)="checkAll($event)">
                        <label>Select All Countries under Africa </label>
                    </mat-checkbox>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="columns">
                <li *ngFor="let country of countryByContFilter;let i = index">
                    <mat-checkbox [(ngModel)]="country.state">
                        <label>{{country.name}} </label>
                    </mat-checkbox>
                </li>
            </ul>
            <button mat-raised-button class="mat-raised-button mat-primary" (click)="submit()">Save</button>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="getCountryList('NAmerica')">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    North America
                </mat-panel-title>
                <mat-panel-description>
                    <mat-checkbox (checked)="isAllChecked()" (change)="checkAll($event)">
                        <label>Select All Countries under North America </label>
                    </mat-checkbox>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ul class="columns">
                <li *ngFor="let country of countryByContFilter;let i = index">
                    <mat-checkbox [(ngModel)]="country.state">
                        <label>{{country.name}} </label>
                    </mat-checkbox>
                </li>
            </ul>
            <button mat-raised-button class="mat-raised-button mat-primary" (click)="submit()">Save</button>
        </mat-expansion-panel>

    </mat-accordion>
