<form [formGroup]="BankInfoGroup">

    <mat-card>
        <mat-card-header>

            <mat-card-title>Bank Details</mat-card-title>

        </mat-card-header>
        <mat-card-content>

            <div>

                <mat-form-field appearance="outline">
                    <mat-label>Country of your Bank Account</mat-label>
                    <mat-select placeholder="Country of your Bank Account" formControlName="BankCountry" required>

                        <mat-option *ngFor="let option of Countries" [value]="option">
                            {{option}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Bank Name</mat-label>
                    <input matInput placeholder="Bank Name" formControlName="bankName" required>
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Clearing Code or BIC</mat-label>
                    <input matInput placeholder="Clearing Code or BIC" formControlName="clearingCodeorBic" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Bank A/c No</mat-label>
                    <input matInput placeholder="Bank A/c No" formControlName="bankAccNo" required>

                </mat-form-field>
            </div>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>

            <mat-card-title>Card Details</mat-card-title>

        </mat-card-header>
        <mat-card-content>



            <mat-form-field appearance="outline">
                <mat-label>Card Type</mat-label>
                <mat-select placeholder="Card Type" formControlName="cardtype" required>

                    <mat-option *ngFor="let option of CardTypes" [value]="option">
                        {{option}}
                    </mat-option>

                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Card Number</mat-label>
                <input matInput placeholder="Card Number" formControlName="cardnumber" required maxlength="16">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Expiry Date</mat-label>
                <input matInput placeholder="Expiry Date" formControlName="expirydate" required maxlength="16">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Security Code</mat-label>
                <input matInput placeholder="Security Code" formControlName="expirydate" required maxlength="3">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name on the Card</mat-label>
                <input matInput placeholder="Name on the Card" formControlName="cardname" required maxlength="25">
            </mat-form-field>

        </mat-card-content>
    </mat-card>

</form>