<form [formGroup]="SearchGroup" (ngSubmit)="onSubmit()">
    <mat-tab-group [backgroundColor]="'primary'">
        <mat-tab label="Customer Search">
            <ng-template matTabContent>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-custom-color">
                                <div class="panel-heading">Search Bank Details</div>
                                <mat-card-content class="mat-card-content">
                                    <div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Bank Name</mat-label>
                                            <input matInput placeholder="Bank Name" formControlName="bankName" minlength="3" maxlength="30">

                                        </mat-form-field>

                                        <mat-form-field appearance="outline">
                                            <mat-label>Bank ID</mat-label>
                                            <input matInput placeholder="Bank ID" formControlName="bankID" maxlength="30">
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" color="primary" mat-raised-button> Search</button>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</form>
    <div class="container-fluid">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bank Name</th>
                        <th>Country</th>
                        <th>Primary Contact</th>
                        <th>No.of Users</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let bankInfo of banksInfo">
                        <td>{{ bankInfo.bank_cust_id}}</td>
                        <td>{{ bankInfo.bank_name }}</td>
                        <td>{{ bankInfo.primary_contact_name }}</td>
                        <td>{{ bankInfo.primary_contact_name }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>            
