<form [formGroup]="mydetailsGroup">

    <mat-card>
        <mat-card-header>

            <mat-card-title>My Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="myName" [readonly]="!editable">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="Middle Name" formControlName="mymiddleName" [readonly]="!editable">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="myLastName" [readonly]="!editable">
                </mat-form-field>               

            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" formControlName="myEmail" [readonly]="!editable">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <input matInput placeholder="Role" formControlName="myRoleProfile" [readonly]="!editable">
                    <!--<mat-select placeholder="Role" formControlName="myRoleProfile">
        <mat-option *ngFor="let option of Roles" [value]="option">
            {{option}}
        </mat-option>
    </mat-select>-->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="Mobile" formControlName="myMobile" [readonly]="!editable">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Work Phone</mat-label>
                    <input matInput placeholder="Work Phone" formControlName="myworkphone" [readonly]="!editable">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <!--<mat-action-row>
        <div>
            <button type="button" color="primary" mat-raised-button> Save</button>
        </div>
    </mat-action-row>-->

</form>
