<form [formGroup]="mydetailsGroup">

    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <div class="panel panel-custom-color">
                    <div class="panel-heading">My Details</div>

                    <!--<mat-card>
        <mat-card-header class="mat-card-title-color">
            <mat-card-title>My Details</mat-card-title>
        </mat-card-header>
    </mat-card>-->
                    <mat-card-content class="mat-card-content">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="first_name"
                                       [readonly]="!editable" [value]="mydetailsInfo.first_name">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Middle Name</mat-label>
                                <input matInput placeholder="Middle Name" formControlName="middle_name" [readonly]="!editable" [value]="mydetailsInfo.middle_name">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" formControlName="last_name" [readonly]="!editable" [value]="mydetailsInfo.last_name">
                            </mat-form-field>

                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="E-mail" formControlName="myEmail" [readonly]="!editable" [value]="mydetailsInfo.myEmail">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Role</mat-label>
                                <input matInput placeholder="Role" formControlName="role" [readonly]="!editable" [value]="mydetailsInfo.role">

                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile</mat-label>
                                <input matInput placeholder="Mobile" formControlName="mobile_num" [readonly]="!editable" [value]="mydetailsInfo.mobile_num">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Work Phone</mat-label>
                                <input matInput placeholder="Work Phone" formControlName="desk_num" [readonly]="!editable" [value]="mydetailsInfo.desk_num">
                            </mat-form-field>
                        </div>
                    </mat-card-content>

                </div>
            </div>           

        </div>
            </div>

            <!-- Spinner Control-->
            <div>

                <mat-spinner style="margin:0 auto" *ngIf="resourcesLoaded"></mat-spinner>
            </div>

            <!--<mat-action-row>-->
            <div class="text-center">
                <!--<button type="button" style="margin:0 auto" color="primary" mat-raised-button> Edit</button>-->
                <button type="button" color="primary" mat-raised-button> Edit</button>
            </div>
    <!--</mat-action-row>-->

</form>
