<form [formGroup]="bankSetupGroup" (ngSubmit)="onSubmit()" class="my-custom-scrollbar">
<!-- Step Control-->
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <!-- User Information-->
    <mat-step [stepControl]="compInfoGroup" errorMessage="Name is required.">
        <ng-template matStepLabel>Bank Details</ng-template>
        <form [formGroup]="compInfoGroup">
            <!-- START ACCORDIAN-->

            <mat-accordion class="example-headers-align">
                <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle> -->
                        <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Bank Details
                        </mat-panel-title>
                        <mat-panel-description>
                            Enter Bank Details
                            <!-- <mat-icon>account_balance_wallet</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- <mat-card-content class="mat-card-content"> -->

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Bank Id</mat-label>
                                <input matInput placeholder="Bank Id" formControlName="bankId" maxlength="35" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Bank Name</mat-label>
                                <input matInput placeholder="Bank Name" formControlName="bankName" maxlength="35"
                                    required>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Primary Contact Name</mat-label>
                                <input matInput placeholder="Primary Contact Name" formControlName="primaryContactName"
                                    maxlength="35">
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width:230px !important;">
                                    <mat-label>Primary Contact Work Email Id</mat-label>
                                    <input matInput placeholder="Primary Contact Work Email Id" formControlName="primaryContactEmailId"
                                        maxlength="35" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="width:230px !important;"> 
                                        <mat-label>Primary Contact Phone Number</mat-label>
                                        <input matInput placeholder="Primary Contact Phone Number" formControlName="primaryContactPhoneNo"
                                            maxlength="35">
                                    </mat-form-field>
                        </div>
                      
                    <!-- </mat-card-content> -->

                    <!-- <mat-action-row>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row> -->
                </mat-expansion-panel>

                <!--SERVICES AND PREFERENCES-->
                <!-- <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle> -->
                        <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Services and Prferences
                        </mat-panel-title>
                        <mat-panel-description>
                            Enter your Preferences
                            <!-- <mat-icon>settings_applications</mat-icon> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-card-content class="mat-card-content">

                        <div>


                            <mat-form-field appearance="outline">
                                <mat-label>Service Subscribed by Bank</mat-label>
                                <input matInput placeholder="Service Subscription">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker" placeholder="Service Activation Start date">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker1" placeholder="Service Activation End date">
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Support Required for Bank User Management</mat-label>
                                <mat-select placeholder="Support Required for Bank User Management">
                                    <mat-option>
                                        Yes
                                    </mat-option>
                                    <mat-option>
                                        No
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>


                        </div>


                        <div>


                            <mat-form-field appearance="outline">
                                <mat-label>Support Required for Bank Client Management</mat-label>
                                <mat-select placeholder="Support Required for Client User Management">
                                    <mat-option>
                                        Yes
                                    </mat-option>
                                    <mat-option>
                                        No
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Authorization -Manual Payment Activity</mat-label>
                                <mat-select placeholder="Authorization -Manual Payment Activity">
                                    <mat-option>
                                        Yes
                                    </mat-option>
                                    <mat-option>
                                        No
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>Authorization -Non Payment Activity</mat-label>
                                <mat-select placeholder="Authorization -Non Payment Activity">
                                    <mat-option>
                                        Yes
                                    </mat-option>
                                    <mat-option>
                                        No
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>

                    </mat-card-content>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Trading Address
                        </mat-panel-title>
                        <mat-panel-description>
                            Enter Trading Address details
                            <mat-icon>my_location</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-card-content class="mat-card-content">

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country">
                                    <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                        {{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="postCode" maxlength="8">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Building No / Name </mat-label>
                                <input matInput placeholder="Building No / Name" formControlName="buildingName"
                                    maxlength="35">
                            </mat-form-field>


                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Street Address</mat-label>
                                <input matInput placeholder="Street Address" formControlName="streetAddress"
                                    maxlength="35">
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="state" maxlength="35">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="cityName" maxlength="35">
                            </mat-form-field>


                        </div>
                    </mat-card-content>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Registered Address
                        </mat-panel-title>
                        <mat-panel-description>
                            Enter Registered Address details
                            <mat-icon>my_location</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>


                    <mat-card-content class="mat-card-content">

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="regCountry">
                                    <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                        {{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Post Code</mat-label>
                                <input matInput placeholder="Post Code" formControlName="regPostCode" maxlength="8">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Building No / Name </mat-label>
                                <input matInput placeholder="Building No / Name" formControlName="regbuildingName"
                                    maxlength="35">
                            </mat-form-field>

                        </div>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Street Address</mat-label>
                                <input matInput placeholder="Street Address" formControlName="regstreetAddress"
                                    maxlength="35">
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput placeholder="State" formControlName="regState" maxlength="35">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Town/City</mat-label>
                                <input matInput placeholder="Town/City" formControlName="regCityName" maxlength="35">
                            </mat-form-field>


                        </div>


                    </mat-card-content>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>


                </mat-expansion-panel>



            </mat-accordion>
        </form>

        <div>


            <!-- <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back </button> -->
            <button style='margin:16px' mat-raised-button color="primary" matStepperNext> Next</button>
        </div>


        <!-- END ACCORDIAN-->

    </mat-step>

    <!-- Pricing Group-->
    <mat-step [stepControl]="pricingInfoGroup">
        <ng-template matStepLabel>Pricing</ng-template>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pricing Details
                    </mat-panel-title>
                    <mat-panel-description>
                        Fixed Charges
                        <mat-icon>account_balance_wallet</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card-content class="mat-card-content">





                    <div class="container-fluid">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Subscription Info</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Time Period</th>
                                    <th>Discount</th>
                                    <th>Edit</th>
                                </tr>

                            </thead>

                            <tbody>
                                <tr *ngFor="let pricingSubscription of pricingSubscriptionInfo">
                                    <td>{{ pricingSubscription.subscriptionInfo}}</td>
                                    <td>{{ pricingSubscription.currency }}</td>
                                    <td>{{ pricingSubscription.amount }}</td>
                                    <td>{{ pricingSubscription.validTime }}</td>
                                    <td>{{ pricingSubscription.discount }}</td>
                                    <button mat-icon-button color="warn" id="remove"
                                        (click)="deleteRow(userInfo.user_id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </mat-card-content>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pricing Type
                    </mat-panel-title>
                    <mat-panel-description>
                        Select Pricing Type
                        <mat-icon>account_balance_wallet</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card-content class="mat-card-content">

                     <!-- <div>
                        <label id="example-radio-group-label">Pricing Type : </label>
                        <input name="options" [(ngModel)]="options" type="radio" [value]="true" [checked]="options" />
                        Subscripton Package

                        <input name="options" [(ngModel)]="options" type="radio" [value]="false" [checked]="!options" />
                        Pay as You Go.
                    </div>                 -->

                    <!-- SUBSCRIPTION PACKAGE-->

                    <div class="container-fluid" *ngIf="options">
                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Subscription Package</th>
                                    <th>No Of Transactions</th>
                                    <th>Charges Per Month</th>

                                </tr>

                            </thead>

                            <tbody>
                                <tr *ngFor="let pkgSubscription of subscriptionPkgInfo">
                                    <td>
                                        <label><input type="radio" id='regular' name="optradio"></label>
                                    </td>

                                    <td>{{ pkgSubscription.package}}</td>
                                    <td>{{ pkgSubscription.noOfTransactions }}</td>
                                    <td>{{ pkgSubscription.chargesperMonth }}</td>


                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <!-- PAY AS YOU GO PACKAGE-->
                    <div class="container-fluid" *ngIf="!options">
                        <table class="table table-striped">

                            <thead>
                                <tr>

                                    <th>No Of Transactions</th>
                                    <th>Charges Per Transaction</th>
                                    <th>Edit</th>

                                </tr>

                            </thead>

                            <tbody>
                                <tr *ngFor="let payperpkg of payasYouPkg">



                                    <td>{{ payperpkg.noOfTransactions }}</td>
                                    <td>{{ payperpkg.chargesperTransaction }}</td>
                                    <button mat-icon-button color="warn" id="remove"
                                        (click)="deleteRow(userInfo.user_id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>


                                </tr>

                            </tbody>
                        </table>
                    </div>

                </mat-card-content>
            </mat-expansion-panel>      


        </mat-accordion>




    </mat-step>
    <!-- Invoice Details-->
    <mat-step [stepControl]="invocingInfoGroup">
        <form [formGroup]="invocingInfoGroup">
            <ng-template matStepLabel>Invoice</ng-template>

            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="panel panel-custom-color">
                            <!-- <div class="panel-heading"> Pricing Information</div> -->
                            <mat-card-content class="mat-card-content">
                                <div>


                                    <mat-form-field appearance="outline">
                                        <mat-label>Invoicing Frequency</mat-label>
                                        <mat-select placeholder="Invoicing Frequency"
                                            formControlName="invoicingFrequency">
                                            <mat-option>
                                                Monthly
                                            </mat-option>
                                            <mat-option>
                                                Annual
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Invoice Generation Day </mat-label>
                                        <input matInput placeholder="Invoice Generation Day"
                                            formControlName="invoiceGenerationDay">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Payment Due in Days </mat-label>
                                        <input matInput placeholder="Payment Due in Days" formControlName="paymentDues">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Invoice favouring </mat-label>
                                        <input matInput placeholder="Invoice favouring"
                                            formControlName="invoicefavouring">
                                    </mat-form-field>


                                    <mat-form-field appearance="outline">
                                        <mat-label>Email Id for Invoice </mat-label>
                                        <input matInput placeholder="Email Id for Invoice"
                                            formControlName="mailInvoice">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Postal Address for Invoice </mat-label>
                                        <textarea matInput placeholder="Postal Address for Invoice"
                                            formControlName="invoiceAddress"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </div>
                    </div>
                    <div>


                        <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back
                        </button>
                        <button style='margin:16px' mat-raised-button color="primary" matStepperNext> Next</button>
                    </div>
                </div>
            </div>
        </form>

    </mat-step>

   <!-- SELECT COUNTRIES-->
    <mat-step [stepControl]="countriesListGroup">
            <ng-template matStepLabel>Select Countries</ng-template>
            <app-countries-list formControlName="countriesList"></app-countries-list>
       

    </mat-step>
    <!-- FOREX CURRENCIES SUPPORTED-->
    <mat-step [stepControl]="forexCurrenciesGroup">
       
        <ng-template matStepLabel>Forex Currencies Supported</ng-template>
       <app-forex-currencies formControlName="forexCurrencies"></app-forex-currencies>
      

    </mat-step>



    <!-- BANK SUPER ADMIN-->

    <mat-step [stepControl]="bankSuperAdminGroup">
       
        <ng-template matStepLabel>Bank Super Admin</ng-template>

        <app-bank-super-admin formControlName="bankSuperAdmin"> </app-bank-super-admin>
       
    </mat-step>
</mat-horizontal-stepper>
<input type='submit' text='submit'/>
</form>