<!-- <form [formGroup]="bankSetupGroup" (ngSubmit)="onSubmit()" class="my-custom-scrollbar"> -->
        <form [formGroup]="bankSetupGroup" (ngSubmit)="onSubmit()">
    <!-- Step Control-->
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <!-- User Information-->
        <mat-step [stepControl]="bankInfoGroup">
            <ng-template matStepLabel>Bank Details</ng-template>
            <app-bank-details formControlName="bankDetails"></app-bank-details>
        </mat-step>

        <!-- Pricing Group-->
        <mat-step [stepControl]="pricingInfoGroup">
            <ng-template matStepLabel>Pricing</ng-template>
            <app-pricing-info formControlName="pricingInfo"></app-pricing-info>
        </mat-step>
        <!-- Invoice Details-->
        <mat-step [stepControl]="invocingInfoGroup">
            <ng-template matStepLabel>Invoice</ng-template>
            <app-invoice-data formControlName="invoiceData"></app-invoice-data>
        </mat-step>

        <!-- SELECT COUNTRIES-->
        <mat-step [stepControl]="countriesListGroup">
            <ng-template matStepLabel>Select Countries</ng-template>
            <app-countries-list formControlName="countriesList"></app-countries-list>
        </mat-step>
        <!-- FOREX CURRENCIES SUPPORTED-->
        <mat-step [stepControl]="forexCurrenciesGroup">
            <ng-template matStepLabel>Forex Currencies Supported</ng-template>
            <app-forex-currencies formControlName="forexCurrencies"></app-forex-currencies>
        </mat-step>

        <!-- BANK SUPER ADMIN-->
        <mat-step [stepControl]="bankSuperAdminGroup">
            <ng-template matStepLabel>Bank Super Admin</ng-template>
            <app-bank-super-admin formControlName="bankSuperAdmin"> </app-bank-super-admin>
        </mat-step>
    </mat-horizontal-stepper>
    
    <!-- <input type='submit' text='submit' /> -->
</form>