.my-custom-scrollbar {
    position: relative;
    height: 600px; 
   /* overflow: auto; */
}

.panel{
    margin-bottom:5px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .multiselect-container>li>a>label {
    padding: 4px 20px 3px 20px;
  }

 