

<app-wallet-header></app-wallet-header>

<div class="custPostRegContent" style="background: #f9f9f9;">
    <div class="container formContainer">
        <div class="formContent">
            <!-- Comment start-->
            <h2 class="section-title">Client Post Registration Form</h2>
            <mat-tab-group class="Cust-Tab-Group">

                <mat-tab label="Admin">
                    <form [formGroup]="CompInfoGroup">
                        <ng-template matTabContent>

                            <div class="tab">
                                <button class="tablinks" (click)="openCity(event, 'Company Details')">Company Details</button>
                                <button class="tablinks" (click)="openCity(event, 'Add User')">Add User</button>
                                <button class="tablinks" (click)="openCity(event, 'Payment Profile')">Payment Profile</button>
                                <button class="tablinks" (click)="openCity(event, 'Bank/Card Details')">Bank/Card Details</button>
                            </div>
                            <div id="Company Details" class="tabcontent">
                                <mat-form-field>
                                    <input matInput placeholder="Company Name" formControlName="compnameCtrl">
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Company Registration No" formControlName="compregnCtrl">
                                </mat-form-field>

                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Industry" formControlName="industryCtrl" required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Your Account Id" formControlName="yourAccountID" required>
                                    </mat-form-field>
                                </div>
                                <div>

                                    <mat-form-field>
                                        <input matInput placeholder="Trading Address" formControlName="tradingAddrCtrl" required>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Registered Address" formControlName="registerdAddrCtrl" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div id="Add User" class="tabcontent">
                                <div>
                                    <mat-form-field>
                                        <mat-select placeholder="Role">
                                            <mat-option value="C1">Admin</mat-option>
                                            <mat-option value="C2">Operator</mat-option>
                                            <mat-option value="C3">Authoriser</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Designation" formControlName="desgCtrl" required>
                                    </mat-form-field>
                                </div>

                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Name" formControlName="myName" required>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="E-mail" formControlName="myEmail" required>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Mobile" formControlName="myMobile" required>
                                    </mat-form-field>
                                </div>


                            </div>
                            <div id="Payment Profile" class="tabcontent">
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Average Monthly Volume" formControlName="avgmonthlyValue" required>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Average International Payments" formControlName="avgIntPayments" required>
                                    </mat-form-field>


                                    <mat-form-field>
                                        <input matInput placeholder="Average Value" formControlName="avgValue" required>
                                    </mat-form-field>
                                </div>

                                <div>

                                    <mat-form-field>
                                        <mat-select placeholder="Type of Payments">
                                            <mat-option value="C1">Salary Payments</mat-option>
                                            <mat-option value="C2">Vendo/ Supplier Payments</mat-option>
                                            <mat-option value="C3">Rewards/prizes</mat-option>
                                            <mat-option value="C4">Reimbursements</mat-option>

                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Countries">
                                            <mat-option value="C1">India</mat-option>
                                            <mat-option value="C2">Singapore</mat-option>
                                            <mat-option value="C3">USA</mat-option>
                                            <mat-option value="C4">UK</mat-option>
                                            <mat-option value="C5">AUS</mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                    <mat-form-field>
                                        <mat-select placeholder="Currencies">
                                            <mat-option value="C1">INR</mat-option>
                                            <mat-option value="C2">SGD</mat-option>
                                            <mat-option value="C3">USD</mat-option>
                                            <mat-option value="C4">GBP</mat-option>
                                            <mat-option value="C5">AUD</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </div>

                            <div id="Bank/Card Details" class="tabcontent">


                                <!--<mat-card class="example-card">
                                    <mat-card-header>

                                        <mat-card-title>Bank Details</mat-card-title>

                                    </mat-card-header>

                                    <mat-card-content>-->

                                        <div>


                                            <mat-form-field>
                                                <mat-select placeholder="Country of your Bank Account" required>
                                                    <mat-option value="C1">India</mat-option>
                                                    <mat-option value="C2">Singapore</mat-option>
                                                    <mat-option value="C3">USA</mat-option>
                                                    <mat-option value="C4">UK</mat-option>
                                                    <mat-option value="C5">AUS</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="Bank Name" formControlName="bankName" required>
                                            </mat-form-field>

                                        </div>
                                        <div>

                                            <mat-form-field>
                                                <input matInput placeholder="Clearing Code or BIC" formControlName="clearingCodeorBic" required>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput placeholder="Bank A/c No" formControlName="bankAccNo" required>

                                            </mat-form-field>



                                        </div>

                                    <!--</mat-card-content>
                                </mat-card>-->




                            </div>



                        </ng-template>
                    </form>
                </mat-tab>
                <mat-tab label="My Profile">
                    <form [formGroup]="MyProfileGroup">
                        <ng-template matTabContent>

                            <div class="tab">
                                <button class="tablinks" (click)="openCity(event, 'My Details')">My Details</button>
                                <!--<button class="tablinks" (click)="openCity(event, 'Role Profile')">Role Profile</button>-->
                                <!--<button class="tablinks" (click)="openCity(event, 'Add User')">Add User</button>-->
                                <button class="tablinks" (click)="openCity(event, 'Update Password')">Update Password</button>
                            </div>

                            <div id="My Details" class="tabcontent">
                                <mat-form-field>
                                    <input matInput placeholder="Name" formControlName="myName" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="E-mail" formControlName="myEmail" required>
                                </mat-form-field>

                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Mobile" formControlName="myMobile" required>
                                    </mat-form-field>

                                    <mat-form-field>
                                        <input matInput placeholder="Work" formControlName="mywork" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div id="Update Password" class="tabcontent">
                                <mat-form-field appearance="outline">
                                    <mat-label>Current Password</mat-label>
                                    <input matInput placeholder="Current Password" formControlName="currPassword" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>New Password</mat-label>
                                    <input matInput placeholder="New Password" formControlName="NewPasword" required>
                                </mat-form-field>

                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Confirm New Password</mat-label>

                                        <input matInput placeholder="Confirm New Password" formControlName="confirmNewPwd" required>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Confirm OTP</mat-label>
                                        <input matInput placeholder="Confirm OTP" formControlName="confirmOTP" required>
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-template>
                    </form>
                </mat-tab>
                <mat-tab label="Payment Transfers">
                    <form [formGroup]="CreditInfoGroup">
                        <ng-template matTabContent>

                            <div class="tab">
                                <button class="tablinks" (click)="openCity(event, 'Initiate Payments')">Initiate Payments</button>
                                <button class="tablinks" (click)="openCity(event, 'Authorise')">Authorise</button>
                                <button class="tablinks" (click)="openCity(event, 'Status')">Status</button>
                                <button class="tablinks" (click)="openCity(event, 'Search')">Search</button>
                            </div>                           

                        </ng-template>
                    </form>
                </mat-tab>
                <mat-tab label="Invoices & Statements">

                    <form [formGroup]="UserInfoGroup">
                        <ng-template matTabContent>



                        </ng-template>
                    </form>
                </mat-tab>
            </mat-tab-group>
            <!-- Comment End-->

        </div>
    </div>
</div>

<app-wallet-footer></app-wallet-footer>

