<form [formGroup]="invocingInfoGroup">

    <div class="container">
        <div class="row">
            <div class="panel panel-custom-color">
                <div class="panel-heading"> Invoice Details</div>
                <mat-card-content>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field  style="width:250px !important;">
                                <mat-label>Invoicing Frequency</mat-label>
                                <mat-select placeholder="Invoicing Frequency" formControlName="invoicingFrequency" [(ngModel)]="invoice">
                                    <mat-option *ngFor="let invoice of Invoices" [value]="invoice">
                                        {{invoice}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>

                        <div class="col-md-4">

                            <mat-form-field  style="width:250px !important;">
                                <mat-label>Invoice Generation Day </mat-label>
                                <input matInput placeholder="Invoice Generation Day"
                                    formControlName="invoiceGenerationDay">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field  style="width:250px !important;">
                                <mat-label>Payment Due in Days </mat-label>
                                <input matInput placeholder="Payment Due in Days" formControlName="paymentDues">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">

                            <mat-form-field  style="width:250px !important;">
                                <mat-label>Invoice favouring </mat-label>
                                <input matInput placeholder="Invoice favouring" formControlName="invoicefavouring">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field  style="width:250px !important;">
                                <mat-label>Email Id for Invoice </mat-label>
                                <input matInput placeholder="Email Id for Invoice" formControlName="mailInvoice">
                                <mat-error
                                *ngIf="invocingInfoGroup.get('mailInvoice').touched && invocingInfoGroup.get('mailInvoice').hasError('required')">
                                Please Enter Email Id for Invoice</mat-error>
                            <mat-error
                                *ngIf="invocingInfoGroup.get('mailInvoice').touched && invocingInfoGroup.get('mailInvoice').hasError('invalidEmail')">
                                Invalid email address</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field  style="width:250px !important;">
                                <mat-label>Postal Address for Invoice </mat-label>
                                <textarea matInput placeholder="Postal Address for Invoice"
                                    formControlName="invoiceAddress"></textarea>
                            </mat-form-field>
                        </div>



            </div>

            </mat-card-content>
        </div>
    </div>
    </div>



    <!-- </mat-expansion-panel> -->
    <div>


        <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back
        </button>
        <button style='margin:16px' mat-raised-button color="primary" matStepperNext> Next</button>
    </div>

</form>