/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import "~assets/css/bootstrap.min.css";
@import "~assets/css/custom.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* AG Grid Styles */
 @import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css"; 

/* @import "@ag-grid-community/src/styles/ag-grid.scss";
@import "@ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss"; */

 .wm-expansion-panel-class {
    background: rgb(103, 58, 183) !important;
   
}
.wm-mat-expansion-panel-header-description {
    color: #fff !important;
}

.specific-class > .mat-expansion-indicator, .mat-expansion-indicator:after {
    color: white !important;
} 

.listyle a{
    display: inline-block;
    color: white;
    text-align: center;  
   
}
.mat-tab-body-content {
    overflow-x: hidden !important;
}

.mat-card-title-color {
    color: blue;
}

.panel-custom-color {
    border-color: #673ab7;
}

   .panel-custom-color > .panel-heading {
        /*background: rgb(103, 58, 183);*/
        background: #673ab7;
        color: #fff;
        border-color: #673ab7;
        /*background: rgb(0, 106, 81);*/ /* Our Logo Color*/
    }

/* Ranjith : For Bank Setup new UI */
     mat-form-field {
    
     margin-left:5px;
    } 
    
     .container-fluid {
        margin-top: 5px;
        
    } 
    
     /* .mat-card-content{
        margin-top: 15px;
    }  */

    /* For Mat Select */

    .panel-override {
        max-height: 70vh !important;
        min-width: 60vh !important;
      }
      
      .panel-override-2 {
        max-height: 100px !important;
        min-width: 100px !important;
      } 