/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import "~assets/css/bootstrap.min.css";
@import "~assets/css/custom.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.wm-expansion-panel-class {
    background: rgb(103, 58, 183) !important;
   
}
.wm-mat-expansion-panel-header-description {
    color: #fff !important;
}

.specific-class > .mat-expansion-indicator, .mat-expansion-indicator:after {
    color: white !important;
}

.listyle a{
    display: inline-block;
    color: white;
    text-align: center;  
   
}
.mat-tab-body-content {
    overflow-x: hidden !important;
}

.mat-card-title-color {
    color: blue;
}

.panel-custom-color {
    border-color: #673ab7;
}

   .panel-custom-color > .panel-heading {
        /*background: rgb(103, 58, 183);*/
        background: #673ab7;
        color: #fff;
        border-color: #673ab7;
        /*background: rgb(0, 106, 81);*/ /* Our Logo Color*/
    }

/* Ranjith : For new UI */
    mat-form-field {
        margin-right: 40px;
    }
    
    .container-fluid {
        margin-top: 20px;
        
    }
    
    .mat-card-content{
        margin:20px;
    }