mat-form-field {
    margin-right: 90px;
}

.divcolor {
    /*background-color:darkgray;*/
    text-align:center;
    /*text-decoration:underline;*/
    color:dodgerblue;
}


/*table {
    width: 100%;
}*/
.container{
    margin-top:20px;
}
