<form [formGroup]="UserInfoGroup" (ngSubmit)="onSubmit()">
    <!-- Add user list here-->

    <mat-tab-group [backgroundColor]="'primary'">
        <mat-tab label="Users Info">
            <ng-template matTabContent>

                <div class="container">               
                    <table class="table table-striped">                      
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>User Id</th>
                                <th>Role</th>
                                <th>Delete</th>
                            </tr>                   

                        </thead>
                        <tbody>
                            <tr *ngFor="let userInfo of usersInfo">
                                <!-- <ng-template pTemplate="body" let-usersInfo> -->
                                <td>{{ userInfo.full_name}}</td>
                                <td>{{ userInfo.user_id }}</td>
                                <td>{{ userInfo.role }}</td>
                                <button mat-icon-button color="warn" id="remove" (click)="deleteRow(userInfo.user_id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </tr>
                           

                        </tbody>
                    </table>
                </div>
              <!--  <div>
                    <a mat-raised-button color="primary" (click)="deleteSave()"> Delete</a>
                </div>-->

            </ng-template>
        </mat-tab>
        <mat-tab label="Add User">
            <ng-template matTabContent>

                <!--Admin can Add User details-->

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select placeholder="Role" formControlName="role">
                            <mat-option *ngFor="let option of Roles" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--<mat-form-field appearance="outline">
                            <mat-label>Designation</mat-label>
                            <input matInput placeholder="Designation" formControlName="desgCtrl" required>
                        </mat-form-field>-->
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="firstName" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="middleName">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="lastName" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="E-mail" formControlName="userId" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <input matInput placeholder="Mobile" formControlName="mobileNum" required>
                    </mat-form-field>
                </div>


                <mat-action-row>
                    <div>
                        <button type="submit" mat-raised-button> Save</button>
                    </div>
                </mat-action-row>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</form>