<form [formGroup]="UserInfoGroup" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>

            <mat-card-title>User Details</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select placeholder="Role" formControlName="role">
                        <mat-option *ngFor="let option of Roles" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--<mat-form-field appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input matInput placeholder="Designation" formControlName="desgCtrl" required>
                </mat-form-field>-->
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="middleName">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="lastName" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" formControlName="userId" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="Mobile" formControlName="mobileNum" required>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-action-row>
        <div>
            <button type="submit" mat-raised-button> Save</button>
        </div>
    </mat-action-row>
</form>