<form [formGroup]="UserInfoGroup" (ngSubmit)="onSubmit()">
    <!-- Add user list here-->

    <mat-tab-group [backgroundColor]="'primary'">
        <mat-tab label="Add User">
            <ng-template matTabContent>

                <!--Admin can Add User details-->
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="panel panel-custom-color">
                                <div class="panel-heading">Add User Details</div>
                                <!--<mat-card>
            <mat-card-header class="mat-card-title-color">

                <mat-card-title>Add User Details</mat-card-title>
            </mat-card-header>
        </mat-card>-->
                                <mat-card-content class="mat-card-content">
                                    <div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="First Name" formControlName="firstName" maxlength="30">
                                            <mat-error *ngIf="UserInfoGroup.get('firstName').touched && UserInfoGroup.get('firstName').hasError('required')">First Name is required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline">
                                            <mat-label>Middle Name</mat-label>
                                            <input matInput placeholder="First Name" formControlName="middleName" maxlength="30">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="First Name" formControlName="lastName" maxlength="30">
                                            <mat-error *ngIf="UserInfoGroup.get('lastName').touched && UserInfoGroup.get('lastName').hasError('required')">Last Name is required</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Role</mat-label>
                                            <mat-select placeholder="Role" formControlName="role">
                                                <mat-option *ngFor="let option of Roles" [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline">
                                            <mat-label>E-mail</mat-label>
                                            <input type="email" matInput placeholder="E-mail" formControlName="userId" maxlength="50">
                                            <mat-error *ngIf="UserInfoGroup.get('userId').touched && UserInfoGroup.get('userId').hasError('required')">Email is required</mat-error>
                                            <mat-error *ngIf="UserInfoGroup.get('userId').touched && UserInfoGroup.get('userId').hasError('invalidEmail')">Invalid email address</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline">
                                            <mat-label>Mobile</mat-label>
                                            <input type="tel" matInput placeholder="Mobile" formControlName="mobileNum" maxlength="13">
                                        </mat-form-field>
                                    </div>

                                </mat-card-content>


                            </div>
                        </div>


                    </div>


                </div>

                <div class="text-center">
                    <button type="submit" color="primary" mat-raised-button> Save</button>
                </div>


            </ng-template>
        </mat-tab>
        <mat-tab label="Users Info">
            <ng-template matTabContent>

                <div class="container-fluid">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email ID</th>
                                <th>Role</th>
                                <th>Delete</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let userInfo of usersInfo">
                                <!-- <ng-template pTemplate="body" let-usersInfo> -->
                                <td>{{ userInfo.full_name}}</td>
                                <td>{{ userInfo.user_name }}</td>
                                <td>{{ userInfo.role }}</td>
                                <button mat-icon-button color="warn" id="remove" (click)="deleteRow(userInfo.user_id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </tr>


                        </tbody>
                    </table>
                    </div>
                    </div>


            </ng-template>
        </mat-tab>

    </mat-tab-group>

</form>