* {
    box-sizing: border-box;
}

/* Style the input container */
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid dodgerblue;
    }


    .btn:hover {
        opacity: 1;
    }

.mat-raised-button {
    background-color:dodgerblue;
    width: 500px;
    color: white;
}


    

    
