<app-wallet-header></app-wallet-header>

<div class="custRegContent" style="background: #f9f9f9;">
    <div class="container formContainer">
        <div class="formContent">
            <h2 class="section-title">Client Registration Form</h2>
            <form [formGroup]="regGroup">
            <!--<form [formGroup]="compInfoGroup">-->
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <!-- User Information-->
                <mat-step [stepControl]="compInfoGroup" errorMessage="Name is required.">

                    <form [formGroup]="compInfoGroup" (ngSubmit)="onSubmitCompInfo()">
                        <ng-template matStepLabel>Company Information</ng-template>
                        <!--<mat-accordion class="AccordianControl">-->
                        <!--<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">-->
                        <!--<mat-expansion-panel-header>
        <mat-panel-title>
            Company details
        </mat-panel-title>
        <mat-panel-description>
            Enter Company details
            <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>-->
                        <!--<ng-template matExpansionPanelContent>-->
                        <mat-card>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Company Name" formControlName="companyName" maxlength="50" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Company Registration Number" formControlName="companyRegNumber" maxlength="15"  required>
                                </mat-form-field>
                            </div>
                            <div> <!--list of countries to be pre-populated This should read from config file-->
                                
                                
                                <mat-form-field>
                                    <mat-select placeholder="Company Location">
                                            <mat-option value="C1">India</mat-option>
                                            <mat-option value="C2">Singapore</mat-option>
                                            <mat-option value="C3">USA</mat-option>
                                            <mat-option value="C4">UK</mat-option>
                                            <mat-option value="C5">AUS</mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>

                            <!--</ng-template>-->
                            <!--<mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>-->
                            <!--</mat-expansion-panel>

    </mat-accordion>-->
                            </mat-card>
                        <div></div>
                                <div>
                                    <button style='margin:16px' mat-raised-button color="primary" matStepperNext type="button">Next</button>
                                </div>
</form>
                </mat-step>

                <!-- Personal Information-->
                <mat-step [stepControl]="personalInfoGroup" errorMessage="Name is required.">

                    <form [formGroup]="personalInfoGroup">
                        <ng-template matStepLabel>Personal Information</ng-template>

                        <mat-card>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="First Name" formControlName="userFirstName" maxlength="30" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Middle Name" formControlName="userMiddleName" maxlength="30" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Last Name" formControlName="userLastName" maxlength="30" required>
                                </mat-form-field>

                                <!--<mat-form-field>
                <input matInput placeholder="Role" formControlName="role" required>
            </mat-form-field>-->
                            </div>
                            <div>

                                <mat-form-field>
                                    <input matInput placeholder="Email Address" formControlName="yourEmailAddress" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Mobile Number" formControlName="yourContactNumber" maxlength="13" required>
                                </mat-form-field>
                            </div>

                            <div>

                                <mat-form-field>
                                    <input matInput placeholder="Password" formControlName="userPassword" maxlength="13" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Confirm Password" formControlName="userConfirmPassword" maxlength="8" required>
                                </mat-form-field>
                            </div>
                            </mat-card>

                            <div>
                                <!--<button mat-raised-button color="primary" matStepperNext type="button">Register</button>-->

                                <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back </button>
                                <button style='margin:16px' mat-raised-button color="primary" matStepperNext> Next</button>
                            </div>


                    </form>
                </mat-step>

                <!-- Trading Address-->
                <!--<mat-step [stepControl]="tradingAddressGroup" errorMessage="Name is required.">

                    <form [formGroup]="tradingAddressGroup">
                        <ng-template matStepLabel>Trading Address</ng-template>-->
                        <!--<mat-accordion class="AccordianControl">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Trading Address
            </mat-panel-title>
            <mat-panel-description>
                Enter Trading Address
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>-->
                       <!-- <mat-card>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="BuildingNo/Street(Or)Road Name/Number" formControlName="RoadNo" maxlength="15" required>
                                </mat-form-field>
                            </div>

                            <div>

                                <mat-form-field>
                                    <input matInput placeholder="AddressLine 1" formControlName="addressLine1" maxlength="35" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="AddressLine 2" formControlName="addressLine2" maxlength="35">
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Town/City" formControlName="townCityName" maxlength="35" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="State" formControlName="stateCountryName" maxlength="35">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Country" formControlName="countryName" maxlength="35" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Post Code" formControlName="postCode" maxlength="8">
                                </mat-form-field>
                            </div>
                        </mat-card>

                       
                        <mat-action-row>
                            <mat-checkbox color="primary" (change)="addressChecked($event)"> Please tick the Checkbox if Registerd Address is same as Trading Address.</mat-checkbox>
                            <!--<button mat-button color="primary" (click)="nextStep()">Next</button>-->
                     <!--   </mat-action-row>

                        <!--</mat-expansion-panel>-->
                        <!-- REGISTERED ADDRESS-->
                        <!--<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Registered Address
        </mat-panel-title>
        <mat-panel-description>
            Enter Registered Address
            <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>-->
                      <!--  <mat-card>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="BuildingNo/Street(Or)Road Name/Number" formControlName="RegRoadNo" required>
                                </mat-form-field>
                            </div>

                            <div>

                                <mat-form-field>
                                    <input matInput placeholder="AddressLine 1" formControlName="RegaddressLine1" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="AddressLine 2" formControlName="RegaddressLine2">
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Town/City" formControlName="RegtownCityName" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="State" formControlName="RegstateCountryName">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <input matInput placeholder="Country" formControlName="RegcountryName" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Post Code" formControlName="RegpostCode">
                                </mat-form-field>
                            </div>

                          
                            </mat-card>
                            <div>
                                <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back </button>
                                <button style='margin:16px' mat-raised-button color="primary" matStepperNext type="button">Next</button>
                            </div>
                           
                    </form>
                </mat-step>-->

                <!-- Security Information-->
                <mat-step [stepControl]="securityInfoGroup" errorMessage="Name is required.">

                    <form [formGroup]="securityInfoGroup">
                        <ng-template matStepLabel>Secure Information</ng-template>
                        <mat-card>
                            <div>
                                <!-- New Selection Control-->
                                <mat-form-field>
                                    <!--<mat-label>Favorite food</mat-label>-->
                                    <mat-select placeholder="Security Question" formControlName="securityQuestion">
                                        <mat-option *ngFor="let option of options" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput placeholder="Security Answer" formControlName="securityAnswer" maxlength="35" required>
                                </mat-form-field>

                             
                            </div>
                            </mat-card>
                                <div>

                                    <button style='margin:16px' mat-raised-button color="primary" matStepperPrevious>Back </button>
                                    <button style='margin:16px' mat-raised-button color="primary" (click)="onSubmitTradingInfo()"> Register</button>

                                </div>
</form>
                </mat-step>
            </mat-horizontal-stepper>
            </form>
        </div>
        </div>
    </div>

    <app-wallet-footer></app-wallet-footer>
